<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">

<head>
    <title>Users List</title>

    <link rel="stylesheet" th:href="@{/static/css/demo.css}"/>

    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
<div class="container" align="center">
    <h1>Users Manager</h1>
    <a href="/user/new">Create New User</a>
    <br/><br/>
    <table border="1" cellpadding="10" class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>User ID</th>
            <th>Login</th>
            <th>Password Hash</th>
            <th>Salt</th>
            <th>isPasswordKeptAsHash</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.id}">User ID</td>
            <td th:text="${user.login}">Login</td>
            <td th:text="${user.passwordHash}">Password Hash</td>
            <td th:text="${user.salt}">Salt</td>
            <td th:text="${user.isPasswordKeptHash}">isPasswordKeptAsHash</td>
            <td>
                <a th:href="@{'edit/' + ${user.id}}">Edit</a>
                &nbsp;&nbsp;&nbsp;
                <a th:href="@{'delete/' + ${user.id}}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>

</html>